# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv
.gmlenv/

# Rhino / Grasshopper
*.bak
*.rhl
*.log

# Large asset files (keep OBJ but ignore heavy 3DM if needed)
# *.3dm
# *.obj

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/settings.json

# Folders to ignore
Graph ML -- NOTEBOOKS/
Test-notebook/